@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
html{
    font-size: 1em;
}
body{
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: ". . ."
                        ". box ."
                        ". . .";
}
.box{
    grid-area: box;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
     
}
.card{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: ". faq"
                         "img faq"
                         ". faq";
    margin: 7em;
    background-color: white;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    z-index: 1;
}
.faqs{
    grid-area: faq;
    padding: 2em;
    font-family: 'Kumbh Sans', sans-serif;
}
input{
    visibility: hidden;
}
.block{
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    color:hsl(238, 29%, 16%);
}

img{
    grid-area: img;
    transform: translateX(-6em);
}
.one{
    z-index: 0;
}
.two{
    z-index: 10;
    transform: translateY(8em) translateX(-6.2em);
}
.answer{
    font-size: 0px;
    transition: all .3s;
}
h1{
    font-weight: 700;
}
label{
    right:3em;
    position: absolute;
}

.click{
    font-size: 12px;
    transition: all ease-in-out .3s;
    color: hsl(240, 6%, 50%);
}
